/* ElectronicsCarousel.css */

.electronics-carousel-container {
  max-width: 400px;
  height: 400px;
  /* border: 1px solid black; */
  /* margin: 0 auto; */
  /* padding: 30px 0;  */
}

/* Responsive design for different screen sizes */
@media (max-width: 768px) {
  .electronics-carousel-container {
    max-width: 100%; /* Adapt to smaller screens */
  }
}

.electronics-carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  background-color: transparent;
  transition: transform 0.3s ease-in-out; /* Add smooth transition effect */
}

/* Hover effect on carousel items */
.electronics-carousel-item:hover {
  transform: scale(1.05); /* Subtle zoom on hover */
}

.electronics-carousel-item img {
  width: 100%; /* Ensure consistent image size */
  height: 450px; /* Set image height for better proportions */
  object-fit: contain; /* Maintain aspect ratio and cover container */
  border-radius: 5px; /* Match the slide's border radius */
}

.electronics-carousel-item h3 {
  /* margin-top: 5px; Add spacing after the image */
  font-size: 1.2rem; /* Adjust font size as needed */
  font-weight: bold;
  text-align: center;
  color: black;
}

/* Style the navigation dots (optional) */
.slick-dots {
  position: absolute;
  bottom: -3px;
  display: flex;
  justify-content: center;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots button {
  display: block;
  width: 10px;
  height: 5px;
  border-radius: 50%;
  background-color: #ccc;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.slick-dots button:hover,
.slick-dots button.slick-active {
  opacity: 1;
  background-color: rgb(
    197,
    196,
    196
  ); /* Change dot color on hover or active */
}
